header {
  margin-bottom: 25px;
  .logo {
    img {
      width: 160px;
    }
  }

  .search {
    padding-top: 25px;
    position: relative;
    ul{
      position: absolute;
      background: #fff;
      list-style: none;
      padding: 1rem;
      width: 95%;
      border-radius: 15px;
      z-index: 2;  
      li{
        margin: 0.5rem 0;
      }
    }
  }

  .navigation {
    padding-top: 25px;
  }

  .tools {
    padding-top: 38px;

    .pi {
      margin-right: 10px;
    }
  }
}
